@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Roboto&family=Roboto+Slab:wght@200&family=Signika+Negative:wght@600&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}