.header {
    background-color: white;
    margin-left: 200px;
    display: flex;
    justify-content: flex-end;
}
.logo {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    height: 64px;

  }
  
  .logo-image {
    height: 50px; 
    margin: 10px; 
  }

  .landing-container {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    background-image: url("/public/images/landing-back.jpg");
  }

  .my-calendar-icon {
    transform: scale(2);
  }