/* button {
    width: 200px;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
}

img {
    border-radius: 20px;
    width: 175px;
}
.run-text{
    text-align: center;
}

.grid-container {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
}
.header {
    background-color: blue;
    padding: 50px;
    font-size: 50px;
    margin: -10px;
    border-color: black;
    
} */
